extends include/template

append config
  -siteName='Home'
prepend styles
//-  link de estilo
block content
  main.main-wrapper
    +scrollTop
    +Header
    br
    .container
      section.row 
        .col-xs-12.col-sm-6.col-md-6
          a(href="#").btn.btn-success.btn-lg.disabled.marginBottom Welcome! I'M
          h1 Yader Mendoza Balmaceda
          h3.marginBottom: ins Web Developer
          p.marginBottom  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          .container.marginBottom 
            button(type="button").btn.btn-outline-success.btn-lg Hire Me
            button(type="button").btn.btn-outline-success.btn-lg Explore
        .col-xs-12.col-sm-6.col-md-6
          .photoContainer.d-flex-justifyCenter
            img(src="public/img/foto.png", alt="profile picture").photoContainer__img
  section.container.aboutMe.marginBottomContainer
    img(src="public/img/elipse.png", alt="circle").aboutMe__circle
    .row
      .col-xs-12.col-sm-12.col-md-6.aboutMe__backgroundPoint
        img(src="public/img/person2.png", alt="photo").container.aboutMe__img
      .col-xs-12.col-sm-12.col-md-6.aboutMe__information
          a(href="#").btn.btn-success.btn-lg.disabled.marginBottom.aboutMe__headerTitle About Me
          h1.marginBottom Why hire me for you next project?
          .aboutMe__paragraphContainer.marginBottom
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          a(href="public/documen/cv.pdf" download="CV-Yader-Mendoza" type="button").btn.btn-success.btn-lg Download CV
  section.container.progressbar__container.marginBottomContainer#studies
    h1 Acquired Learning
    .dropdown-divider.marginBottom
    .row.progressbar__containerCircleProgress
      +ProgressBar('HTML5','html-5.png','0.85')
      +ProgressBar('CSS3','css-3.png','0.85')
      +ProgressBar('JavaScript','js.png','0.70','collapse d-md-block d-lg-block','collapseProgress')
      +ProgressBar('PUG','pug.png','0.86','collapse d-lg-block','collapseProgress')
      +ProgressBar('SASS','sass.png','0.85','collapse','collapseProgress')
      +ProgressBar('GIT','git.png','0.70','collapse','collapseProgress')
      +ProgressBar('GULP','gulp.png','0.70','collapse','collapseProgress')
      +ProgressBar('REACT','react.png','0.50','collapse','collapseProgress')
      +ProgressBar('BOOTSTRAP','bootstrap.png','0.67','collapse','collapseProgress')
    .row.d-block.d-sm-none
      .progressbar__containerBarra.container
        +progressBarra('HTML5','85')
        +progressBarra('CSS3','85')
        +progressBarra('JavaScript','70')
        +progressBarra('PUG','86')
        +progressBarra('SASS','85','collapse','collapseProgress')
        +progressBarra('GIT','70','collapse','collapseProgress')
        +progressBarra('GULP','70','collapse','collapseProgress')
        +progressBarra('REACT','50','collapse','collapseProgress')
        +progressBarra('BOOTSTRAP','67','collapse','collapseProgress')
    .dropdown-divider
    span: a(class="btn btn-outline-success marginBottom" data-toggle="collapse" href="#collapseProgress" role="button" aria-expanded="false" aria-controls="collapseExample" onClick="Circlle('.progressbar__round');") View all
  section.container.projectContainer.marginBottomContainer#projects
    h1.text-center Practice Professionals
    .dropdown-divider.marginBottom
    .row.projectContainer__backgroundPointerImage
      +card('ENICER','pages-enicer.png','https://yader316.github.io/enicer/')
      +card('SLIYP','pages-slip.png','https://yader316.github.io/Holidays/public/','collapse d-sm-block','collapseCard')
      +card('Airmusic','pages-airmusic.png','https://yader316.github.io/airmusic/','collapse d-md-block ','collapseCard')
      +card('Education','pages-education.png','https://yader316.github.io/Education/','collapse d-lg-block','collapseCard')
      +card('Smart Technology','pages-smart.png','https://yader316.github.io/smart-technology/public/','collapse','collapseCard')
    .dropdown-divider
    span: a(class="btn btn-outline-success" data-toggle="collapse" href="#collapseCard" role="button" aria-expanded="false" aria-controls="collapseExample") View all
  section#testimonial.testimonialContainer.marginBottomContainer
    h1.display-4.bg-success.text-white.text-center.testimonialContainer__title Personal References
    +carouselTestimonial
append script
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-circle-progress/1.2.2/circle-progress.min.js")
  script(src="public/js/progressBar.js")
  script(src="public/js/scrollTop.js")
