- let siteName = 'Portfolio'
- let pageTitle = 'Yader Mendoza'
- let currentPage=' '
- let metaDescription = 'Hola soy Yader Mendoza, me dedico a desarrollar sitios web desde hace 2 años, soy estuiante de la carrera Ingeniería en Sistemas.'