block config 
  include config
//- aqui van toda los componentes
include ../components/Items
include ../components/menuDropdown
include ../components/header
include ../components/progressBar

doctype
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    meta(name="description" content= metaDescription)
    title= `${pageTitle} - ${siteName}`
    //-  link estilo  de icon para progressbar
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
    //- link de Bootstrap
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")   
    link(rel="stylesheet", href="public/css/style.css")
    block styles
  body.body-container
    block content
  block script
    //- script de Bootstrap
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js")