mixin CardReferencia
  .container
    .row
      .col-lg-3.col-md-6.col-12.mb-4
        .card
          div(style="background-color: #dee2e6;").mbt-4.text-center
            img.card-img-top.rounded-circle(src="public/img/persona.png", alt="" style="width:50%;")
          .card-body
            h4.card-title.text-capitalize ing. aldo paz
            p.card-text Desarrollador web (Frontend, Backend)
            p.text-muted +505 5702 - 5645
      .col-lg-3.col-md-6.col-12.mb-4
        .card
          div(style="background-color: #dee2e6;").mbt-4.text-center
            img.card-img-top.rounded-circle(src="public/img/persona.png", alt="" style="width:50%;")
          .card-body
            h4.card-title.text-capitalize ing. carlos lopez
            p.card-text Desarrollador web (Frontend, Backend)
            p.text-muted +505 0000 - 2020
      .col-lg-3.col-md-6.col-12.mb-4
        .card
          div(style="background-color: #dee2e6;").mbt-4.text-center
            img.card-img-top.rounded-circle(src="public/img/persona.png", alt="" style="width:50%;")
          .card-body
            h4.card-title.text-capitalize lic. moisés pérez
            p.card-text Responsable de Compras e Importaciones, CONDOR, SA
            p.text-muted +505 8139 - 0855
      .col-lg-3.col-md-6.col-12.mb-4
        .card
          div(style="background-color: #dee2e6;").mbt-4.text-center
            img.card-img-top.rounded-circle(src="public/img/persona.png", alt="" style="width:50%;")
          .card-body
            h4.card-title.text-capitalize lic. raquel arroliga
            p.card-text Gerente de calidad, KENTEX, S.A
            p.text-muted +505 8947 - 7177