mixin carouselTestimonial()
  #carouselExampleIndicators.carousel.slide(data-ride='carousel')
    ol.carousel-indicators
      li.active(data-target='#carouselExampleIndicators' data-slide-to='0')
      li(data-target='#carouselExampleIndicators' data-slide-to='1')
      li(data-target='#carouselExampleIndicators' data-slide-to='2')
    .carousel-inner
      .carousel-item.active(style='width:100%; height: 400px; background-color: #80808088')
        .container.d-flex.justify-content-center
          img(src="public/img/person2.png", alt="alt" style="width: 10%; margin-top: 2rem;").d-block
        .carousel-caption
          h2 Juan Quintero
          p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet in totam, repellendus ipsum temporibus voluptate et. Consequuntur aliquam inventore porro corporis sint, obcaecati excepturi laborum assumenda ratione sed voluptate ipsa.
      .carousel-item(style='width:100%; height: 400px; background-color: #80808088')
        .container.d-flex.justify-content-center
          img(src="public/img/person2.png", alt="alt" style="width: 10%; margin-top: 2rem;").d-block
        .carousel-caption
          h2 Ing. ALdo Paz
          p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet in totam, repellendus ipsum temporibus voluptate et. Consequuntur aliquam inventore porro corporis sint, obcaecati excepturi laborum assumenda ratione sed voluptate ipsa.
      .carousel-item(style='width:100%; height: 400px; background-color: #80808088')
        .container.d-flex.justify-content-center
          img(src="public/img/person2.png", alt="alt" style="width: 10%; margin-top: 2rem;").d-block
        .carousel-caption
          h2 Ing. Carlos Lopez
          p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet in totam, repellendus ipsum temporibus voluptate et. Consequuntur aliquam inventore porro corporis sint, obcaecati excepturi laborum assumenda ratione sed voluptate ipsa.
    a.carousel-control-prev(href='#carouselExampleIndicators' role='button' data-slide='prev')
      span.carousel-control-prev-icon(aria-hidden='true')
      span.sr-only Previous
    a.carousel-control-next(href='#carouselExampleIndicators' role='button' data-slide='next')
      span.carousel-control-next-icon(aria-hidden='true')
      span.sr-only Next