mixin contactMe
  .contactMe.row
    .contactMe__sendMessenger.container.col-lg-6.col-xs-12.marginBottom
      .contactMe__titleContainer.marginBottom
        h1.display-1.contactMe__title let's talk
        h2.contactMe__subTitle call me or send me a message
      .contactMe__numberContainer.marginBottom
        .contactMe__numberContainer
          h5 #[img(src=`public/img/icon/phone.png`, alt=`icon html` class="mr-3")] 
            | 8418-1496 C.
            | 8326-1118 M. 
          h5 #[img(src=`public/img/icon/email.png`, alt=`icon html` class="mr-3")] yadtais316@gmail.com
      .contactMe__form
        form(action="" method="method")
          .form-group
            label(for="InputEmail").contactMe__label Adress e-mail
            input(type="email" class="form-control" id="InputEmail" aria-describedby="emailHelp" placeholder="Adress e-mail")
            small(id="emailHelp" class="form-text text-muted") We'll never share your email with anyone else.
          .form-group
            label(for="formOption").contactMe__label work issues
            select#formOption.form-control(name="").text-capitalize
              option(selected).contactMe__label what are you asking me for
              option(value="").contactMe__label internship
              option(value="").contactMe__label working 
              option(value="").contactMe__label personal project

          .form-group
            label(for="formTextarea").contactMe__label Write to me instantly I will answer
            textarea(class="form-control" id="formTextarea" rows="3").contactMe__txtArea
          .form-group.d-flex.justify-content-end
            button(type="submit" class="btn btn-success") Send
    .contactMe__imgContainer.container.col-lg-6.col-xs-12
      img(src="public/img/person2.png", alt="alt").contactMe__img.mb-3
      h2.text-capitalize.text-center yader mendoza


