*,
*::before,
*::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.body-container{
  overflow-x: hidden;
}

@import "basic/function";
@import "components/header";
@import "components/progressbar";
@import "components/scroll-top";

.eje{
  border: 3px solid red;
}
.main-wrapper{
  width: 100%;
  position: relative;
  background-image: imgUrl('elipse2.png');
  background: {
    size: 80%;
    repeat: no-repeat;
    position: 660px 78%;
    
  };
  padding-bottom: 4rem;
}
.marginBottom{
  margin-bottom: 2rem;
}
.marginBottomContainer{
  margin-bottom: 4rem;
}
.d-flex-justifyCenter{
  display: flex;
  justify-content: center;
}
.photoContainer{
  &__img{
    width: 70%;
    height: 400px;
    // background-image: imgUrl('code.jpeg');
    // background: {
    //   size: cover;
    //   repeat: no-repeat;
    //   position: top center;
    // };
    background-color: #dee2e6;
    border: 9px solid white;
    box-shadow: 0 0 4px 0 #dee2e6;
    border-radius: 50%;
  }
}
//style about me
.aboutMe{
  position: relative;
  margin-top: 3rem;
  &__backgroundPoint{
    background-image: imgUrl('background-point.png');
    background: {
      repeat: no-repeat;
      position: top right;
    };
  }
  &__circle{
    width: 220px;
    position: absolute;
    top: -71px;
    left: -51px;
    z-index: 99;
  }
  &__img{
    margin-top: 2rem;
    box-shadow: 0 0 5px 1px gray;
  }
  &__information{
    padding: 3rem;
  }
}
// style de projectContainer
.projectContainer{
 position: relative;
 text-align: center;
  &__img{
    position: absolute;
    right: 0;
    top: 80px;
  }
}
// style testimonial
.testimonialContainer{
  &__title{
    margin-bottom: 0;
  }
}
// style contact me
.contactMe{
  &__imgContainer{
    box-shadow: 0 0 5px 1px gray;
  }
  &__img{
    width: 100%;
    margin-top: 2rem;
    box-shadow: 0 0 3px 1px gray;
  }
  &__txtArea{
    resize: none;
  }
  &__title{
    text-transform: uppercase;
  }
  &__subTitle,
  &__label{
    text-transform: capitalize;
  }
}
// style- footer container
.footerContainer{
  &__containerPrincipal{
    padding-top: 3rem;
    box-shadow: 0 0 10px 2px #80808088;
  }
}
// Large devices (desktops, less than 1200px) lg
@media (max-width: 1199.98px) { 
  .main-wrapper{
    background: {
      size: 100%; 
      position: 547px 83%;
    };
  }
}
// para ipadpro que es 1024 
@media (max-width: 1024px) { 
  .main-wrapper{
    background: {
      size: 100%;
      position: 478px -108px;
    };
  }
}
// Medium devices (tablets, less than 992px) md
@media (max-width: 991.98px) { 
  .main-wrapper{
    background: {
      position: 437px -195px;
    };
  }
  .photoContainer{
    &__img{
      width: 85%;
      height: 335px;
    }
  } 
  .aboutMe{
    &__subTitle{
      font-size: 3rem;
    }
  }
}
// modo telefono girado de 823px
@media (max-width: 823px) { 
  .main-wrapper{
    background: {
      size: 120%;
      position: 335px -180px;;
    };
  }
  .aboutMe{
    &__circle{
      width: 140px;
      left: -39px;
    }
  }
}
// Small devices (landscape phones, less than 768px) sm
@media (max-width: 768px) { 
  .main-wrapper{
    background: none;
  }
  .headerContainer{
    &__imgLogo{
      width: 230px;
    }
  }
  .photoContainer{
    &__img{
      border: 20px solid #0fbf61;
      background-color: #fff;
      box-shadow: 0 0 5px 0 #fff;
    }
  }
  .aboutMe{
    &__circle{
      display: none;
    }
  } 
}
// telefono girado en 736
@media (max-width: 736px) {
  .btnHire,
  .btnExplore{
    font-size: 1.2rem;
  }
}
// Extra small devices (portrait phones, less than 576px) xs
@media (max-width: 575.98px) {
  .headerContainer{
    &__imgLogo{
      width: 150px;
    }
  }
  .photoContainer{
    background-color: #0fbf61;
    padding: 1rem 0;
    &__img{
      background-color: gray;
      border: 20px solid white;
      box-shadow: 0 0 5px 0 #fff;
    }
  } 
  .aboutMe{
    &__circle{
      display: none;
    }
  }
  .progressbar{
    &__containerCircleProgress,
    &__btnView{
      display: none;
    }
    &__titlePorcentaje{
      margin-bottom: 0;
      // padding: 15px 0;
    }
    &__sizeTitlePorcentaje{
      height: 30px;
    }
  }
  .projectContainer{
    &__img{
      width: 50%;  
      top: 100px; 
    }
  }
}

// perfil de about me en español
// !! Mi nombre completo es Yader Alexander Mendoza Balmaceda, tengo 27 año de edad, actualmente me dedico a desarrollar página web como Frontend, resido en Managua – Nicaragua.

// Perfil:
// Contribuir al diseño y desarrollo de sitio web y aplicaciones web, de acuerdo con mis habilidades, conocimientos y experiencia.



